@import url('https://fonts.googleapis.com/css2?family=Honk&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Honk", system-ui;
   /* background-color: #121212;*/
    
}

.main{

    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 100px auto;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 20vh;
    border-radius: 20px;
   

}
.main h1{
    font-size: 50px;
    width: 100%;
    text-align: center;
}

.main label{
    border: solid 1px black;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    font-size: 50px ;
    
    transition: all .3s;
  
}
.main label:hover{
    
    font-size: 100px  !important;
    border-radius: 4px;

}








.red{
    background-color: red;
}
.green{
    background-color: green;
}



footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 100px auto;
    
}

footer label , a{
    font-family: "Poppins", sans-serif;
    color: rgb(112, 112, 112);
    text-align: center;
    text-decoration: none;
    transition: all .3s;
}

a:hover{
    color: black;
}